@charset "UTF-8";
/* @import url(font-awesome.min.css); */
@import url("https://fonts.googleapis.com/css?family=Signika:300,700");

/*
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/


body {
	background-color: #020B13;
	color: #c0c2c4;
}

body, input, select, textarea {
	font-family: "Signika", sans-serif;
	font-size: 13pt;
	font-weight: 300;
	line-height: 1.65;
}

html, body, div, span, h3, h5, p, ul, li, fieldset, form, legend,footer{	
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

footer{
display: block;

}

.wrapper .inner {
	margin: 0 auto;
	width: 80em;
	position: relative;
	z-index: 99;
}


.flex {
display: -ms-flexbox;
-ms-flex-pack: justify;
display: -moz-flex;
display: -webkit-flex;
display: -ms-flex;
display: flex;
-moz-flex-wrap: wrap;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-moz-justify-content: space-between;
-webkit-justify-content: space-between;
-ms-justify-content: space-between;
justify-content: space-between;
}

.flex.flex-2, .flex.flex-3 {
	-moz-align-items: stretch;
	-webkit-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
}

.flex.flex-3 .col {
	width: 31%;
}

.flex.flex-tabs {
	-moz-flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

	.flex.flex-tabs ul {
		width: 20%;
	}

@media screen and (max-width: 980px) {

	.flex.flex-4 .col {
		width: 48%;
	}

	.flex.flex-tabs ul {
		width: 30%;
	}

	.flex.flex-tabs .tabs {
		width: 67%;
	}

	.flex.flex-tabs .flex-3 .col {
		width: 48%;
	}

}

@media screen and (max-width: 736px) {

	.flex.flex-2 .col, .flex.flex-3 .col, .flex.flex-4 .col {
		width: 100%;
	}

	.flex.flex-tabs {
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

		.flex.flex-tabs ul {
			width: 100%;
		}

		.flex.flex-tabs .tabs {
			width: 100%;
		}

		.flex.flex-tabs .flex-3 .col {
			width: 100%;
		}

}

#footer {
padding: 6em 0 4em 0;
}

#footer > .inner {
	margin: 0 auto;
	width: 80em;
}

#footer .copyright {
	color: #676d71;
	font-size: 0.9em;
	margin: 0 0 2em 0;
	padding: 0;
	text-align: center;
}

	#footer .copyright .icons {
		margin: 2em 0 0 0;
	}

@media screen and (max-width: 1280px) {

	#footer > .inner {
		width: 65em;
	}

}

@media screen and (max-width: 980px) {

	#footer > .inner {
		width: 90%;
	}

}

@media screen and (max-width: 736px) {

	#footer {
		padding: 3em 0 1em 0;
	}

}


.wrapper .inner {
	margin: 0 auto;
	width: 80em;
	position: relative;
	z-index: 99;
}

@media screen and (max-width: 1280px) {

	.wrapper > .inner {
		width: 65em;
	}

}

@media screen and (max-width: 980px) {

	.wrapper > .inner {
		width: 90%;
	}

}

#banner .inner {
	-moz-transform: scale(1.0);
	-webkit-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
	-moz-transition: opacity 1s ease, -moz-transform 1s ease;
	-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
	-ms-transition: opacity 1s ease, -ms-transform 1s ease;
	transition: opacity 1s ease, transform 1s ease;
	opacity: 1;
	position: relative;
	z-index: 2;
}

#banner .inner {
			width: 100%;
		}
body.is-loading #banner .inner {
	-moz-transform: scale(0.99);
	-webkit-transform: scale(0.99);
	-ms-transform: scale(0.99);
	transform: scale(0.99);
	opacity: 0;
}

.flex {
display: -ms-flexbox;
-ms-flex-pack: justify;
display: -moz-flex;
display: -webkit-flex;
display: -ms-flex;
display: flex;
-moz-flex-wrap: wrap;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-moz-justify-content: space-between;
-webkit-justify-content: space-between;
-ms-justify-content: space-between;
justify-content: space-between;
}

.flex.flex-2, .flex.flex-3 {
	-moz-align-items: stretch;
	-webkit-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
}

.flex.flex-tabs {
	-moz-flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

#header > h1 span {
		font-weight: 300;
		font-size: .8em;
	}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
		display: inline-block;
		padding: 0 1em 0 0;
	}

ul.icons li:last-child {
			padding-right: 0;
		}




ul.icons li .icon:before {
			font-size: 2em;
		}

#footer .copyright .icons {
		margin: 2em 0 0 0;
	}
#menu > ul.links {
		list-style: none;
		padding: 0;
	}

#menu > ul.links > li {
			padding: 0;
		}

#menu > ul.links > li > a:not(.button) {
				border: 0;
				border-top: solid 1px rgba(255, 255, 255, 0.15);
				color: inherit;
				display: block;
				line-height: 3.5em;
				text-decoration: none;
			}

#menu > ul.links > li > .button {
				display: block;
				margin: 0.5em 0 0 0;
			}

#menu > ul.links > li:first-child > a:not(.button) {
				border-top: 0 !important;
			}


#footer {
padding: 6em 0 4em 0;
}

#footer > .inner {
	margin: 0 auto;
	width: 80em;
}

#footer .copyright {
	color: #676d71;
	font-size: 0.9em;
	margin: 0 0 2em 0;
	padding: 0;
	text-align: center;
}

	#footer .copyright .icons {
		margin: 2em 0 0 0;
		margin-bottom: 8px;
	}

@media screen and (max-width: 1280px) {

	#footer > .inner {
		width: 65em;
	}

}

.flex.flex-2, .flex.flex-3 {
	-moz-align-items: stretch;
	-webkit-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
}

.flex.flex-3 .col {
	width: 31%;
}

 h3, h5 {
	color: #ffffff;
}
p {
	margin: 0 0 2em 0;
	font-family: "Signika", sans-serif;
	font-weight: 400;
}

@media screen and (max-width: 980px) {

	.flex.flex-4 .col {
		width: 48%;
	}

	.flex.flex-tabs ul {
		width: 30%;
	}

	.flex.flex-tabs .tabs {
		width: 67%;
	}

	.flex.flex-tabs .flex-3 .col {
		width: 48%;
	}

}

@media screen and (max-width: 736px) {

	.flex.flex-2 .col, .flex.flex-3 .col, .flex.flex-4 .col {
		width: 100%;
	}

	.flex.flex-tabs {
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

		.flex.flex-tabs ul {
			width: 100%;
		}

		.flex.flex-tabs .tabs {
			width: 100%;
		}

		.flex.flex-tabs .flex-3 .col {
			width: 100%;
		}

}

@media screen and (max-width: 980px) {

	#footer > .inner {
		width: 90%;
	}

}

@media screen and (max-width: 736px) {

	#footer {
		padding: 3em 0 1em 0;
	}

}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	line-height: 1.5;
	margin: 0 0 1em 0;
}
h3 {
	font-size: 1.75em;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}
ul.alt li {
    border-top-color: rgba(255, 255, 255, 0.15);
}
ul.alt li {
    border-top: solid 1px;
    padding: 0.5em 0;
}
ul.alt {
    list-style: none;
    padding-left: 0;
}


a:hover {
    color: rgba(193, 199, 205, 0.5);
}

icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
#header > a[href="#menu"] {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

	#header > a[href="#menu"]:before {
		content: "ïƒ‰";
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}

	#header > a[href="#menu"]:before {
		margin: 0 0.5em 0 0;
	}

#header > a + a[href="#menu"]:last-child {
	border-left: solid 1px rgba(255, 255, 255, 0.15);
	padding-left: 1.25em;
	margin-left: 0.5em;
}
a {
	color: #c1c7cd;
	text-decoration: none;
}
.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

	.icon:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}

	.icon > .label {
		display: none;
	}
	ul.alt li {
		border-top-color: rgba(255, 255, 255, 0.15) !important; 
	}
	ul.alt li {
		border-top: solid 1px;
		padding: 0.5em 0;
	}